{% extends 'base.html' %}
{% set page_path='Build Reports/Failed' %}

{% set title='Failed Builds' %}
{% block header %}
    Failed Builds
{% endblock %}

{% import 'ui.html' as ui %}
{% import 'vis.html' as vis %}

{% block content %}
    {% call ui.table_card('Failed') %}
    <thead>
        <tr>
            <th>Build Number</th>
            <th>Package</th>
            <th>Time Started</th>
            <th>Time Ended</th>
        </tr>
    </thead>
    <tbody>
        {% for event in event_log.history[::-1] %}
            {% if event.type.value == 'build' and event.status.value == 'failure' %}
                <tr>
                    <td><a href="/build/{{event.id}}">Build #{{event.id}}</a></td>
                    <td><a href="/package/{{event.tag}}">{{event.name}}</a></td>
                    <td>{{event.started}}</td>
                    <td>{{event.ended}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    {% endcall %}
{% endblock content %}


