{% import 'ui.html' as ui %}

{% macro event_card(event) %}
    {% if event.type.value == 'build' %}
        {% if event.status.value == 'success' %}
            {{ ui.text_card('success', 'Build #{}'.format(event.id), 
                            'check', 'Success: ' + event.tag) }}
        {% elif event.status.value == 'failure' %}
            {{ ui.text_card('danger', 'Build #{}'.format(event.id), 
                            'exclamation-triangle', 'Failure: ' + event.tag) }}
        {% else %}
            {{ ui.text_card('warning', 'Build #{}'.format(event.id), 
                            'clipboard-list', 'Building: ' + event.tag) }}
        {% endif %}
    {% else %}
        {{ ui.text_card('danger', 'Unkown event type',
                        'clipboard-list', '') }}
    {% endif %}

{% endmacro %}
